{% extends 'base.html.twig' %}

{% block title %}
Accueil - Library_AFPA
{% endblock %}

{% block body %}
    <h1>Bienvenue dans notre bibliothèque ! </h1>

    <!-- Catalogue inclusion -->
     {% include 'catalogue/catalogue.html.twig' with { books: books } %}
    
{% endblock %}
