.management-container{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    /* scale the container by 90% */
    transform: scale(0.8);
    position: relative;
    top: -120px;
   
}

.table td {
    max-width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.table td .btn {
    display: inline-block;
    width: 120px; 
    text-align: center;
    margin: 0 3px;
    padding: 5px 10px;
    font-size: 12px; 
}


.table td:nth-child(8) {
    white-space: nowrap; 
    width: 320px;
    text-align: center; 
}

.table {
    table-layout: auto; 
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
}
