
.card-body img {
    max-width: 200%; 
    max-height: 500px; 
    width: auto; 
    height: auto; 
    object-fit: contain; 
    border: 1px solid #ddd;
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
