html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Assurez-vous que le html et le body occupent toute la hauteur */
    display: flex;
    flex-direction: column; /* Permet de placer les éléments en colonne */
}

main {
    flex: 1; /* Prend tout l'espace disponible entre la navbar et le footer */
}


.footer {
    background-color: #070707;
    color: #dde1e6;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    margin-top: 10px;
}

.footer-link {
    margin: 0 10px;
    text-decoration: none;
    color: #343a40;
    font-size: 0.9rem;
}

.footer-link:hover {
    text-decoration: underline;
}
